html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
    background-color: hsl(259, 100%, 9%);
    color: hsl(88, 1%, 85%) !important;
    border-color: hsl(245, 51%, 17%) !important;
  }
  body {
    color: white;
    background: black;
  }
}
